# Editor temp files
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# OS artifacts
desktop.ini
*.log
__pycache__/
venv/
*/venv/
experiments/*/
experiments/*.tar.gz
experiments/log_checker.py
